@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: rgb(207, 217, 223);
  --color-secondary: rgb(195, 207, 226);
  --color-heading: rgb(30, 41, 59);
  --color-dark-primary: #000;
  --color-dark-Secondary: #1b1b1b;
  --color-dark-third: rgb(30, 42, 58);
  --color-dark-four: #1a1a1a;
}
::selection {
  background: rgba(9, 9, 9, 0.628);
  color: white;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
  display: flex;
  width: max-content;
}
@keyframes scrollReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-reverse {
  animation: scrollReverse 25s linear infinite;
  display: flex;
  width: max-content;
}

.gradient-border {
  background: linear-gradient(
    270deg,
    #3b82f6,
    #8b5cf6,
    #ec4899,
    #3b82f6
  );
  background-size: 400% 400%;
  animation: gradientMove 6s linear infinite;
  
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

/* scrollbar hide */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* smooth infinite scroll */
@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scrollX 25s linear infinite;
}