@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: rgb(207, 217, 223);
  --color-secondary: rgb(195, 207, 226);
  --color-heading: rgb(30, 41, 59);
  --color-dark-primary: #000;
  --color-dark-Secondary: #1b1b1b;
  --color-dark-third: rgb(30, 42, 58);
  --color-dark-four: #1a1a1a;
}
::selection {
  background: rgba(9, 9, 9, 0.628);
  color: white;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
  display: flex;
  width: max-content;
}
@keyframes scrollReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-reverse {
  animation: scrollReverse 25s linear infinite;
  display: flex;
  width: max-content;
}

.gradient-border {
  background: linear-gradient(
    270deg,
    #3b82f6,
    #8b5cf6,
    #ec4899,
    #3b82f6
  );
  background-size: 400% 400%;
  animation: gradientMove 6s linear infinite;
  
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

/* scrollbar hide */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* smooth infinite scroll */
@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scrollX 25s linear infinite;
}

/* 🔥 Single curved shining line */
/* 🔥 VISIBLE CURVED SHINE LINE */
/* 🌞 LIGHT MODE SHINE */
.nav-shine {
  position: absolute;
  top: 0;
  left: -60%;
  width: 30%;
  height: 100%;
  pointer-events: none;

  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.15) 40%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.15) 60%,
    transparent 100%
  );

  transform: skewX(-25deg);
  filter: blur(4px);

  animation: navShineAdvanced 6s ease-in-out infinite;
}

/* 🌙 DARK MODE SHINE */
.dark .nav-shine {
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(61, 57, 57, 0.5) 40%,
    rgba(36, 35, 35, 0.7) 50%,
    rgba(173, 170, 170, 0.2) 60%,
    transparent 100%
  );
}

/* 🔥 ADVANCED MOVEMENT */
@keyframes navShineAdvanced {
  0% {
    left: -60%;
  }

  /* move till middle */
  30% {
    left: 40%;
  }

  /* 🔥 pause in middle */
  40% {
    left: 40%;
  }

  /* go forward */
  60% {
    left: 120%;
  }

  /* 🔥 small pause at end */
  70% {
    left: 120%;
  }

  /* 🔥 come back reverse */
  100% {
    left: -60%;
  }
}